{% extends "themes/base_visitor.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Hello, C'est Dupont! Décrouvrez des articles pertients sur la santé.{% endblock %}

{% block main %}
    <main>
        <h1>Accueil</h1>
    </main>
{% endblock %}
